/*
CSS for Carleton College CSS
Keaton Mertz, 2017
Adapted from Jeff Ondich
Ideas from Jadrian Miles.
*/

@import url('http://fonts.googleapis.com/css?family=Georgia|Cabin|Playfair Display');

#course_header {
 width: 100%;
 margin: 0px;
 padding: 8px;
 background: #DDDDDD;
 }

div.collapsible {
 padding-top: 10px;
 padding-left: 5px;
 }

.collapsible_title {
 background-repeat: no-repeat;
 background-size: 12px;
 padding-left: 20px;
 }

.collapsible_content {
 display: none;
 margin-top: 5px;
 margin-left: 10px;
 padding-left: 10px;
 border: 1px solid black;
 background-color: #EEEEEE;
 }

.collapsible_content p {
 margin: 5px 0px 5px 0px;
 }

div.prewrap {
 white-space: pre-wrap;
 line-height: 1.2em;
 margin: 1em 0;
 padding: 0.5em 0 0.3em 2.0em;
 font-size: 100%;
 color: #000;
 overflow: auto;
 }

.project {
 -webkit-column-count: 2; /* Chrome, Safari, Opera */
 -moz-column-count: 2; /* Firefox */
 column-count: 2;
 }

.right {
  width: 45%;
  float: right;
  margin: 0em 0em 0em 0em;
  padding: 5px 5px 5px 5px;
  }

.left {
  width: 45%;
  float: left;
  margin: 0em 0em 0em 0em;
  padding: 5px 5px 5px 5px;
  }

.box {
 position: relative;
 height: 45%;
 margin: 2% 2% 2% 2%;
}

.thumbnail {
 border-radius: 15px 15px 15px 15px;
 height: 70%;
 width: 100%;
 background: #fff;
 position: relative;
 text-align: center;
 overflow: hidden;
 padding: 0;
 }

a.title {
 color: black;
 font-size: 140%;
 font-weight: bold;
 font-family: monospace;
 text-decoration: none;
 text-align: center;
 }

.date{
 color: #222;
 font-size: 100%;
 font-weight: 100;
 margin-left: 5px;
 text-decoration: none;
 }

body {
 margin: 0;
 background-color: #FAFAFA;
 color: #230000;
 line-height: 135%;
 font-family: 'Cabin', serif;
 font-size: 90%;
 }

p {
 margin: 1.75ex 0ex 0ex 0ex;
 }

ul{
 position: relative;
 top: 0;
 width: 100%;
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: #333;
 }

li {
 float: left;
 }

.icon {
 right: 16px;
 position: absolute;
 align-self: center;
 }

li a {
 display: block;
 color: white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 }

li a:hover:not(.active) {
 background-color: black;
 }

.active {
 background-color: #4c65af;
 }

a {
 color: #0B86B5;
 text-decoration: underline;
 }

/*a:visited {
 color: #770088;
 text-decoration: underline;
 }

a:hover {
 background-color: #D8D8D8;
 text-decoration: none;
 cursor: pointer;
 }*/

@media print {
 body {
 font-size: 65%;
 margin: 0px;
 padding: 0px;
 background-color: #FAFAFA;
 color: #000000;
 }
}
